$breakpoints: (
  md: 768px,
  lg: 992px
);

$colors: (
  white: #FFFFFF,
  grey100: #F5F5F6,
  grey200: #EAEBED,
  grey300: #D5D6DC,
  grey500: #ACADB9,
  grey600: #7B7C88,
  grey900: #343A40,
  black: #232134,
  blue100: #DEECFF,
  blue400: #92C1FF,
  blue500: #5E96FC,
  blue600: #3B7CD3
);