@use '../../../../assets/scss/mixins' as m;
@use '../../../../assets/scss/functions' as f;

.navbar {
  margin: 0 auto;

  @include m.media(md) {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;
    column-gap: 3.75rem;
  }

  &__link_active {
    color: f.color(blue500);
    font-weight: 500;
  }
}